*{
    margin: 0;
    padding: 0;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}
li{
    list-style: none;
}











/*MAiN CSS */
body,h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Work Sans', sans-serif;
}
.header-logo{
    width: 30%;
    padding: 10px 0px;
    
}
.header-logo .logo img{
    margin-top: 13px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.logo span {
    color: #6278df;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    
}
.header-menu{
    width: 60%;
    margin-top: 20px;
    padding: 10px 0px;
}
.header-button{
    width: 10%;
    margin-top: 20px;
}
.header-btn {
    border: 1px solid #6278df;
    color: #6278df;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}
.header-btn:hover{
    background-color: #6278df;
    color: #FFFF;
    border-color: #6278df;
    font-size: 16px;
    font-weight: 500;
    box-shadow: #0000;
    font-family: 'Work Sans', sans-serif;
}
.primary-menu{

}
.primary-menu ul{

}
.primary-menu ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    position: relative;

}
.primary-menu ul li a {
    font-family: 'Work Sans', sans-serif;
}
.primary-menu ul li ul{
    box-shadow: 2px 2px 15px #8A8A8A;
    background-color: #FFF;
    position: absolute;
    top:110%;
    left: 5;
    width:150px ;
    height: ;
    visibility: hidden; 
    opacity: 0;
    transition: .8s; 
    transform: scaleY(0);
    transform-origin: top center; 
}
.primary-menu ul li ul li{
        padding-left: 20px;
}
.primary-menu ul li:hover ul{ 
    opacity: 1;
    visibility: visible; 
    transform: scaleY(1); 
}

/* Bannar section */
.bannar-section{
    background: url(img/mbr-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 800px; */
    padding: 200px 0px;
    color: #FFF;
    position: relative;
    z-index: 1;
    display: flex;
}
.bannar-section::after{
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}
.bannar-content{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bannar-content h1{
    font-size: 60px;
    padding: 35px 0px;
}
.bannar-content a{
    color: #7D7D7D;
    padding: 15px 30px;
    background-color: #FCFCFC;
    border-radius: 5px;
    font-weight: 600;
}
.bannar-content a:hover{
    background-color: #6278df;
    color: #fff;
    
}    